MWDGame/Logs/AssetImportWorker0-prev.log
MWDGame/Logs/AssetImportWorker0.log
MWDGame/Logs/AssetImportWorker1-prev.log
MWDGame/Logs/AssetImportWorker1.log
MWDGame/Logs/AssetImportWorker2-prev.log
MWDGame/Logs/AssetImportWorker2.log
MWDGame/Logs/AssetImportWorker3-prev.log
MWDGame/Logs/AssetImportWorker3.log
MWDGame/Logs/shadercompiler-AssetImportWorker0.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe0.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe1.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe10.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe11.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe12.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe13.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe14.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe15.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe16.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe17.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe18.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe19.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe2.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe3.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe4.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe5.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe6.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe7.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe8.log
MWDGame/Logs/shadercompiler-UnityShaderCompiler.exe9.log
MWDGame/MWDGame.sln
MWDGame/UserSettings/EditorUserSettings.asset
MWDGame/UserSettings/Layouts/default-2022.dwlt
MWDGame/Assets/Fonts/FZZJ-WHHLTJW SDF.asset
